babel>=0.9.6
cherrypy==3.1.2
formencode>=1.2.4
mako>=0.4.1
#pychart>=1.39
pyyaml>=3.09
egenix-mx-base>=3.2.0
lxml>=2.3
psycopg2>=2.4
#pydot>=1.0.25
#pyparsing>=1.5.7
python-dateutil==1.5
pytz>=2011g
reportlab>=2.5
simplejson>=2.1.6
vobject>=0.8.1
xlwt>=0.7.2
PIL>=1.1.7
werkzeug>=0.8.3
python-openid>=2.2.5
mack
unittest2
docutils

